FOOTBALL_API_URL=http://footbal-api.com/api/v1
FOOTBALL_API_KEY=your-api-key-goes-here

AUTH_DATABASE_NAME=auth_db
AUTH_DATABASE_USER=auth_user
AUTH_DATABASE_PASSWORD=secure_password
AUTH_JWT_SECRET_KEY=very-strong-secret
AUTH_JWT_EXPIRATION=36000

NOTIFICATIONS_DATABASE_NAME=notifications_db
NOTIFICATIONS_DATABASE_USER=notifications_user
NOTIFICATIONS_DATABASE_PASSWORD=secure_password